;
; PS4-PKG-BACKUP configuration file. Copy it to your USB disk root.

; to define a specific cusa/app to copy:
; cusa=0 - Disabled.
; if you want to copy a specific file after payload launched use following example where 12345 it's the ID number of a CUSA. Example:
; cusa=12345 -- This will direct copy CUSA12345.
cusa=0

; to define method:
; 0 - Copy Game Base Only
; 1 - Copy Game Update Only
; 2 - Copy Game DLC Only
; 3 - Copy Game Base, Update and DLC
method=3
